<div class="w-full relative min-h-screen flex flex-col">
  <app-navbar></app-navbar>

  <!-- Global dashboard overlay component. It is always present but shows only when DashboardService.open is true. -->

  <!-- Loading Spinner -->
  <!-- Loading Spinner Overlay -->
  <div *ngIf="LoadingService.loading$ | async"
    class="fixed inset-0 bg-white/60 dark:bg-black/40 flex items-center justify-center z-50">
    <div class="w-16 h-16 border-6 border-[var(--border)]300 border-t-[var(--primary)] rounded-full animate-spin"></div>
  </div>

  <main class="flex-1 w-full pt-20">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</div>